.list-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .list-wrapper {
        display: flex;
        width: 100%;
        max-width: 1024px;
        gap: 20px;

        .search-panel {
            flex: 1;
            background-color: #000629;
            height: 70vh;
            border-radius: 5px;
            color: white;
            text-align: center;
        }
        .search-list {
            flex: 3;
        }
    }
}
