.homeContainer {
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .homeTitle {
        width: 1024px;
        font-size: 20px;
        margin-top: -15px;
    }
    .pTitle {
        width: 1024px;
        font-size: 20px;
        margin-top: -15px;
    }
}
