.header {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #000629;
    position: relative;

    .header-container {
        max-width: 1024px;
        width: 100%;
        margin: 20px 0px 100px 0px;
        

        .header-list {
            display: flex;
            gap: 40px;
            margin-bottom: 50px;
        }
        .header-item {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .header-item.active {
            border: 1px solid white;
            padding: 15px;
            border-radius: 5px;
        }
    }
    .header-container.listMode{
        margin: 20px 0px 0px 0px;

    }
    .header-btn {
        background-color: white;
        border: 1px solid black;
        padding: 15px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 700;
    }
    .header-search {
        height: 40px;
        background-color: white;
        border: 3px solid #aef26e;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 5px 0px;
        position: absolute;
        width: 100%;
        bottom: -20px;
        max-width: 1024px;
        color: lightgray;

        .headerIcon {
            margin-right: 10px;
            font-size: 20px;
            color: lightgray;
        }
        .header-searchItem {
            display: flex;
            align-items: center;
            gap: 10px;

            .headerInput {
                border: none;
                outline-style: none;
                cursor: pointer;
            }
            .search-text {
                color: lightgray;
                cursor: pointer;
            }
            .date {
                position: absolute;
                top: 50px;
            }
        }
        .header-option {
            position: absolute;
            top: 50px;
            background-color: white;
            color: gray;
            border: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            padding: 10px;

            .header-optionItem {
                display: flex;
                gap: 40px;
                cursor: pointer;
                margin: 10px;
                justify-content: space-between;

                .option-container {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    font-size: 15px;
                    color: #031767;
                }
                .option-btn {
                    background-color: #031767;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    padding: 5px;
                    cursor: pointer;
                    font-weight: 700;
                    width: 40px;
                }
                .option-btn:disabled {
                    cursor: not-allowed;
                }
            }
        }
    }
}
