.header {
    display: flex;
    justify-content: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://img.freepik.com/free-photo/hammocks-umbrella-placed-near-large-pool_1203-192.jpg?size=626&ext=jpg&uid=R16363781&ga=GA1.2.1663851365.1658541380');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    .header-container {
        max-width: 1024px;
        width: 100%;
        margin: 20px 0px 100px 0px;

        .header-list {
            display: flex;
            gap: 40px;
            margin-bottom: 50px;
        }
        .header-item {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .header-item.active {
            border: 1px solid white;
            padding: 15px;
            border-radius: 5px;
        }
    }
    .header-container.listMode {
        margin: 20px 0px 0px 0px;
    }
    .header-btn {
        cursor: pointer;
        
    }
    .btn{
        background-color: #425eff;
        padding: 15px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 700;
        color: white;
        border: none;
    }
    .header-search {
        height: 40px;
        background-color: white;
        border: 1px solid #0b0133;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 5px 0px;
        position: absolute;
        width: 100%;
        bottom: -20px;
        max-width: 1024px;
        color: lightgray;
        z-index: 3;

        .headerIcon {
            margin-right: 10px;
            font-size: 20px;
            color: lightgray;
        }
        .header-searchItem {
            display: flex;
            align-items: center;
            gap: 10px;

            .headerInput {
                border: none;
                outline-style: none;
                cursor: pointer;
            }
            .search-text {
                color: lightgray;
                cursor: pointer;
            }
            .date {
                position: absolute;
                top: 50px;
            }
        }
        .header-option {
            position: absolute;
            top: 50px;
            background-color: white;
            color: gray;
            border: 1px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            padding: 10px;
            z-index: 3;

            .header-optionItem {
                display: flex;
                gap: 40px;
                cursor: pointer;
                margin: 10px;
                justify-content: space-between;

                .option-container {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    font-size: 15px;
                    color: #031767;
                }
                .option-btn {
                    background-color: #031767;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    padding: 5px;
                    cursor: pointer;
                    font-weight: 700;
                    width: 40px;
                }
                .option-btn:disabled {
                    cursor: not-allowed;
                }
            }
        }
    }
}
